/* Style2.css */

/* Style2.css */

body {
    font-family: Arial, sans-serif;
    background-color: #31EC56; /* Malachite green background */
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: #EF036C; /* Razzmatazz color for the heading */
}

a {
    text-decoration: none;
}

button {
    background-color: #31EC56; /* Malachite green for the button */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px; /* Add space between result and button */
}

button:hover {
    background-color: #EF036C; /* Razzmatazz on hover */
}

