@charset "ISO-8859-1";

/* Style.css - Development Environment */

@charset "ISO-8859-1";

/* Style.css - Development Environment */

body {
    font-family: Arial, sans-serif;
    background-color: #31EC56; /* Malachite green background */
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #EF036C; /* Razzmatazz for heading */
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px dashed #31EC56; /* Malachite green dashed border */
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #31EC56; /* Malachite green border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #EE72F8; /* Heliotrope background color for input */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #31EC56; /* Malachite green for button */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #EF036C; /* Razzmatazz on hover */
}
